h1 {
    box-shadow: 2px 2px 5px #ca4747;
    padding: 20px;
    margin: 20px 0;
  }
  
  h2 {
    box-shadow: 2px 2px 5px #704bd5;
    font-size: 36px;
    padding: 20px;
    margin: 20px 0;
  }
  
  canvas {
    border: 2px solid #ff00b3;
    box-shadow: 2px 2px 5px #10b07e;
    padding: 20px;
    margin: 20px 0;
  }
  